.busqueda input{
    width: 100%;
    line-height: 35px;
    font-size: 16px;

}

.resultados{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.resultados > * {
    flex-basis: 30%;
}

legend{
    border: 5px;
    border-color: blueviolet;
}